body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#container {
    height: 480px;
    width: 480px;
    outline: 1px solid grey;
}

#wide {
    display: flex;
    align-items: center;
    justify-content: center;
}